// app global css in SCSS form
.blind-level-title {
    background-color: #336699;
    border: 1px solid hwb(207 84% 12%);
    padding: 3px 15px;
}

.blind-level-remove-button {
    border: 1px solid hwb(207 84% 12%);
    padding: 7px;
}
